<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <remap from="odom" to="om_with_tb3/odom"/>
  <remap from="scan" to="om_with_tb3/scan"/>
  <remap from="cmd_vel" to="om_with_tb3/cmd_vel"/>





  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>
  <node name="human" pkg="lidar_track" type="find_lines_node.py" args="-g"/>

  <node name="obstacle" pkg="lidar_track" type="table.py"/>
  <node name="prediction" pkg="planning" type="prediction_barrier.py">
    <param name="~barrier_radius" value="1.2" />
  </node>
  <node name="follower" pkg="low_level_control" type="follow_waypoints.py" output="screen">
    <param name="~tracking_mode" value="1" />
    <param name="~look_ahead_mode" value="1" />
    <param name="~look_ahead_dist" value="3" />
  </node>
</launch>
