<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>

  <arg name="z_pos" default="0.0"/>


  <remap from="odom" to="odom"/>
  <remap from="scan" to="scan"/>
  <remap from="cmd_vel" to="cmd_vel"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find demo_gazebo)/worlds/follow_barrier.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  
  <include file="$(find laserline)/launch/laserline.launch"/>
	
  <include file="$(find demo_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>
  <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch"/> -->
  <node name="human" pkg="lidar_track" type="find_lines_node.py" args="-g"/>

  <node name="prediction" pkg="planning" type="prediction_barrier.py"/>
  <node name="test" pkg="planning" type="obstacle_ctr.py">


    <param name="~barrier_radius" value="1.2" />
  </node>
  <node name="follower" pkg="low_level_control" type="follow_waypoints.py" output="screen">
    <param name="~tracking_mode" value="1" />
    <param name="~look_ahead_mode" value="1" />
    <param name="~look_ahead_dist" value="3" />
  </node>

</launch>
