<launch>
  <node name="laserline0" pkg="laserline" type="laserline" output="screen">
    <remap from="publish_line_markers" to="line_0"/>
    <param name="~frame_id" value="base_scan" />
    <param name="~scan_topic" value="scan_0" />
    <param name="~frequency" value="50.0" />
    <param name="~show_lines" value="true" />
    <param name="~least_thresh" value="0.04" />
    <param name="~min_line_length" value="0.06" />
    <param name="~predict_distance" value="0.1" />
    <param name="~seed_line_points" value="6" />
    <param name="~min_line_points" value="6" />
  </node>
  <node name="laserline1" pkg="laserline" type="laserline" output="screen">
    <remap from="publish_line_markers" to="line_1"/>
    <param name="~frame_id" value="base_scan" />
    <param name="~scan_topic" value="scan_1" />
    <param name="~frequency" value="50.0" />
    <param name="~show_lines" value="true" />
    <param name="~least_thresh" value="0.04" />
    <param name="~min_line_length" value="0.06" />
    <param name="~predict_distance" value="0.1" />
    <param name="~seed_line_points" value="6" />
    <param name="~min_line_points" value="6" />
  </node>
  
  <node name="laserline2" pkg="laserline" type="laserline" output="screen">
    <remap from="publish_line_markers" to="line_2"/>
    <param name="~frame_id" value="base_scan" />
    <param name="~scan_topic" value="scan_2" />
    <param name="~frequency" value="50.0" />
    <param name="~show_lines" value="true" />
    <param name="~least_thresh" value="0.04" />
    <param name="~min_line_length" value="0.06" />
    <param name="~predict_distance" value="0.1" />
    <param name="~seed_line_points" value="6" />
    <param name="~min_line_points" value="6" />
  </node>
  <node name="laserline3" pkg="laserline" type="laserline" output="screen">
    <remap from="publish_line_markers" to="line_3"/>
    <param name="~frame_id" value="base_scan" />
    <param name="~scan_topic" value="scan_3" />
    <param name="~frequency" value="50.0" />
    <param name="~show_lines" value="true" />
    <param name="~least_thresh" value="0.04" />
    <param name="~min_line_length" value="0.06" />
    <param name="~predict_distance" value="0.1" />
    <param name="~seed_line_points" value="6" />
    <param name="~min_line_points" value="6" />
  </node>
  <node name="laserline4" pkg="laserline" type="laserline" output="screen">
    <remap from="publish_line_markers" to="line_4"/>
    <param name="~frame_id" value="base_scan" />
    <param name="~scan_topic" value="scan_4" />
    <param name="~frequency" value="50.0" />
    <param name="~show_lines" value="true" />
    <param name="~least_thresh" value="0.04" />
    <param name="~min_line_length" value="0.06" />
    <param name="~predict_distance" value="0.1" />
    <param name="~seed_line_points" value="6" />
    <param name="~min_line_points" value="6" />
  </node>

  <node name="laserline5" pkg="laserline" type="laserline" output="screen">
    <remap from="publish_line_markers" to="line_5"/>
    <param name="~frame_id" value="base_scan" />
    <param name="~scan_topic" value="scan_5" />
    <param name="~frequency" value="50.0" />
    <param name="~show_lines" value="true" />
    <param name="~least_thresh" value="0.04" />
    <param name="~min_line_length" value="0.06" />
    <param name="~predict_distance" value="0.1" />
    <param name="~seed_line_points" value="6" />
    <param name="~min_line_points" value="6" />
  </node>

</launch>

