<launch>
	<include file="$(find research)/launch/fake_turtlebot.launch"/>
  	<!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch"/> -->
	<node name="obstacle" pkg="planning" type="fake_human4.py" output="screen"/>
	<node name="prediction" pkg="planning" type="prediction_barrier.py" output="screen"/>
	<node name="follower" pkg="low_level_control" type="follow_waypoints.py" output="screen"/>
</launch>
